{% extends 'IngUniboScambiBundle::layout.html.twig' %}

{% block content_header '' %}

{% block content %}
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}

    <h1>Elenco sedi per le quali esistono offerte di scambio</h1>
    <div class="row">
  <div class="col-md-6">
    <p>Elementi totali: {{pagination.getTotalItemCount}}</p>
  </div>
  <div class="col-md-2">&nbsp;</div>
  <div class="col-md-4">
<form class="form-horizontal" action="" method="get" role="form">
  <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" placeholder="Ricerca per qualsiasi campo" name="search" value="" disabled="disabled" />
        </div>
  </div>
</form>
  </div>
</div>

{{ render(controller('IngUniboScambiBundle:Basket:list', {'callback':'ing_unibo_scambi_list_sedi'})) }}
    
    <table class="table">
    	<tr>
    		<th{% if pagination.isSorted('s.nome') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Sede', 's.nome') }}</th>      
        <th>Seleziona</th>
    	</tr>
    	{% for sede in pagination %}
    	<tr>
    		<td>
                <a href="{{path('ing_unibo_scambi_offerte_sede', {'id':sede.nome})}}">{{ sede.nome }}</a>
            </td>                       
            <td>
                {% if ('Sede:' ~ sede.nome) in basket %}
                <a href="{{path('ing_unibo_scambi_basket_rem', {'key':'Sede:' ~ sede.nome, 'callback':'ing_unibo_scambi_list_sedi'})}}">
                <button type="button" class="btn btn-xs btn-default">
                    <span class="glyphicon glyphicon-check"></span>
                </button>
                </a>                                
                {% else %}
                <a href="{{path('ing_unibo_scambi_basket_add', {'key':'Sede:' ~ sede.nome, 'callback':'ing_unibo_scambi_list_sedi'})}}">
                <button type="button" class="btn btn-xs btn-default">
                    <span class="glyphicon glyphicon-unchecked"></span>
                </button>
                </a>
                {% endif %}                
            </td>
    	</tr>
    	{% endfor %}
    </table>
    {{ knp_pagination_render(pagination) }}
{% endblock %}